/* =================== FONTS =================== */
@font-face {
  font-family: 'FuturaBT';
  src: url("../fonts/FuturaBookfont.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'FuturaBT';
  src: url("../fonts/FuturaHeavyfont.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'KBDunkTank';
  src: url("../fonts/KBDunkTank.ttf");
  font-weight: 400;
}
/* ============== GENERAL ============== */
.container{
  max-width: 1200px;
}
body {
  font-family: "FuturaBT";
  color: #fff;
  font-weight: 400;
}
body .container-fluid {
  padding: 0px;
}
a {
  text-decoration: none;
  line-height: 1;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0px;
}
img {
  width: 100%;
}

/* -------- Pre Loader -------- */
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
[data-loader="ball-scale"] {
  width: 50px;
  height: 50px;
  -webkit-animation: ball-scale infinite linear 0.75s;
  -moz-animation: ball-scale infinite linear 0.75s;
  -o-animation: ball-scale infinite linear 0.75s;
  animation: ball-scale infinite linear 0.75s;
  border-radius: 100%;
  background-color: #e87528;
}
@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* ============== HEADER ============== */
#logo-svg {
  width: 233px;
}
/* ============== Body Sections ============== */

/* ============== SVG ============== */

/* ============== MEDIA ============== */
/* -------- 1200 * 991 * 768 * 575  -------- */