/* =================== FONTS =================== */
@font-face {
  font-family: FuturaBT;
  src: url("../fonts/FuturaBookfont.ttf");
  font-weight: 400;
}
@font-face {
  font-family: FuturaBT;
  src: url("../fonts/FuturaHeavyfont.ttf");
  font-weight: 700;
}
@font-face {
  font-family: KBDunkTank;
  src: url("../fonts/KBDunkTank.ttf");
  font-weight: 400;
}
/* ============== GENERAL ============== */
.container{
  max-width: 1200px;
}
body {
  font-family: "FuturaBT";
  color: #fff;
  font-weight: 400;
}
body .container-fluid {
  padding: 0px;
}
a {
  text-decoration: none;
  line-height: 1;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p,
h1 {
  margin: 0px;
}
img {
  width: 100%;
}
/* -------- Pre Loader -------- */
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
[data-loader="ball-scale"] {
  width: 50px;
  height: 50px;
  -webkit-animation: ball-scale infinite linear 0.75s;
  -moz-animation: ball-scale infinite linear 0.75s;
  -o-animation: ball-scale infinite linear 0.75s;
  animation: ball-scale infinite linear 0.75s;
  border-radius: 100%;
  background-color: #e87528;
}
@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* ============== HEADER ============== */
.header{
  background: url(../images/header-bg.png) #e75239 ;
  padding-top: 40px;
  padding-bottom: 200px;
}
.logo{
  position: relative;
  background: url('../images/logo-bg.svg') no-repeat;
  background-size: 300px;
  min-height: 215px;
}
.logo a{
  padding-left: 30px;
  padding-top: 20px;
}
#logo-svg {
  width: 233px;
}
.menu ul {
  background: #fff;
  padding: 5% 7%;
  float: right;
  -webkit-box-shadow: -10px 10px 0px 3px #000000;
  box-shadow: -10px 10px 0px 3px #000000;
}
.menu li {
  float: left;
  margin: 0 15px;
}
.menu li:first-child {
  margin-left: 0;
}
.menu li:last-child {
  margin-right: 0;
}
.menu li a {
  color: #0e0e0e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 0;
}
.header-content{
  position: relative;
}
.header-content-contanier{
  z-index: 2;
  padding-bottom: 40px;
}
.border-box{
  position: absolute;
  width: 55%;
  height: 70%;
  border: 20px solid #000;
  background: transparent;
  right: 0;
  bottom: -55px;
  z-index: 0;
}
.bg-content{
  position: absolute;
  width: 95%;
  height: 53%;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  -webkit-box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.4);
  box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.4);
}
.left-content{
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
}
.left-content h1{
  font-family: 'KBDunkTank';
  font-size: 130px;
  line-height: 1;
  color: #df4d33;
  margin-left: auto;
}
.left-content h1 span{
  font-size: 38px;
  display: block;
  color: #1d1d1d;
}
.right-content img{
  max-width: 525px;
}
/* ============== Body Sections ============== */

/* ============== SVG ============== */

/* ============== MEDIA ============== */
/* -------- 1200 * 991 * 768 * 575  -------- */
@media (max-width:1100px){
  .menu li{
    margin: 0 10px;
  }
}