/* =================== FONTS =================== */
@font-face {
  font-family: FuturaBT;
  src: url("../fonts/FuturaBookfont.ttf");
  font-weight: 400;
}
@font-face {
  font-family: FuturaBT;
  src: url("../fonts/FuturaHeavyfont.ttf");
  font-weight: 700;
}
@font-face {
  font-family: KBDunkTank;
  src: url("../fonts/KBDunkTank.ttf");
  font-weight: 400;
}
/* ============== GENERAL ============== */
.container{
  max-width: 1200px;
}
body {
  font-family: "FuturaBT";
  color: #fff;
  font-weight: 400;
}
body .container-fluid {
  padding: 0px;
}
a {
  text-decoration: none;
  line-height: 1;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p,
h1,
h2 {
  margin: 0px;
}
img {
  width: 100%;
}
/* -------- Pre Loader -------- */
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
[data-loader="ball-scale"] {
  width: 50px;
  height: 50px;
  -webkit-animation: ball-scale infinite linear 0.75s;
  -moz-animation: ball-scale infinite linear 0.75s;
  -o-animation: ball-scale infinite linear 0.75s;
  animation: ball-scale infinite linear 0.75s;
  border-radius: 100%;
  background-color: #e87528;
}
@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* ============== HEADER ============== */
.header{
  background: url(../images/header-bg.svg) #e75239;
  padding-top: 40px;
  padding-bottom: 200px;
}
.logo{
  position: relative;
  background: url('../images/logo-bg.svg') no-repeat;
  background-size: 300px;
  min-height: 215px;
}
.logo a{
  padding-left: 30px;
  padding-top: 20px;
}
#logo-svg {
  width: 233px;
}
.menu ul {
  background: #fff;
  padding: 5% 7%;
  float: right;
  -webkit-box-shadow: -10px 10px 0px 3px #000000;
  box-shadow: -10px 10px 0px 3px #000000;
}
.menu li {
  float: left;
  margin: 0 15px;
}
.menu li:first-child {
  margin-left: 0;
}
.menu li:last-child {
  margin-right: 0;
}
.menu li a {
  color: #0e0e0e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 0;
}
.header-content{
  position: relative;
}
.header-content-contanier{
  z-index: 2;
  padding-bottom: 40px;
}
.border-box{
  position: absolute;
  width: 55%;
  height: 70%;
  border: 20px solid #000;
  background: transparent;
  right: 0;
  bottom: -55px;
  z-index: 0;
}
.bg-content{
  position: absolute;
  width: 95%;
  height: 53%;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  -webkit-box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.4);
  box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.4);
}
.left-content{
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
}
.left-content h1{
  font-family: 'KBDunkTank';
  font-size: 130px;
  line-height: 1;
  color: #df4d33;
  margin-left: auto;
}
.left-content h1 span{
  font-size: 38px;
  display: block;
  color: #1d1d1d;
}
.right-content img{
  max-width: 525px;
}
/* ============== Body Sections ============== */
/* ============== What We Do ============== */
.what-we-do{
  position: relative;
  padding: 150px 0;
  background: url('../images/stars.svg') #0f0f0f;
  /* background-color: #0f0f0f; */
}
.icon-planet{
  position: absolute;
  width: 263px;
  opacity: 0.4;
  top: 0;
  left: 0;
}
.wwd-container{
  position: relative;
}
.title-container{
  transform: rotate(7Deg);
}
.wwd-title{
  margin: 0 auto 30px;
  max-width: 405px;
  position: relative;
}
.wwd-title h2{
  position: absolute;
  left:30px;
  top: 77px;
  width: 80%;
  font-weight: 700;
  font-size: 39px;
  line-height: 1;
  color: #1d1d1d;
  text-transform: uppercase;
  z-index: 2;
  text-align: center;
}
.wwd-title h2 span{
  color: #e55139;
}
#title-quote-svg{
  fill: #fff;
}
.left-quote,
.right-quote{
  position: absolute;
  width: 55px;
}
.left-quote{
  bottom: 50px;
  left: 0;
  transform: rotate(155Deg);
}
.right-quote{
  right: 0;
  top: -10px;
  transform: rotate(-55Deg);
}
.wwd-text{
  text-align: center;
  margin-bottom: 90px;
}
.wwd-text p{
  font-weight: 400;
  font-size: 21px;
  line-height: 1.3;
  margin-bottom: 25px;
}
.wwd-text p:last-of-type{
  margin-bottom: 70px;
}
.wwd-text h4{
  font-weight: 700;
  font-size: 27px;
  max-width: 80%;
  margin: 0 auto;
}
.logo-face{
  width: 65px;
  position: absolute;
  left: 125px;
  top: 0;
  z-index: 2;
}
.your-brand{
  max-width: 300px;
  margin: 0 auto;
  padding: 50px 0;
}
.left-brand{
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: #707070;
  height: 55px;
  float: left;
  margin-right: 43px;
}
.right-brand{
  font-size: 44px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  height: 55px;
  display: inline-block;
  padding-top: 20px;
}
.icon-heart{
  width: 17px;
  position: absolute;
  top: 40px;
  right: 70px;
}
.icon-like{
  width: 31px;
  position: absolute;
  top: 10px;
  right: 110px;
}
.icon-xD{
  width: 16px;
  position: absolute;
  top: 45px;
  right: 155px;
}
.section-arrow {
  width: 86px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -75px;
}
/* ============== Brands ============== */
.brands{
  background: url(../images/header-bg.svg) #e75239;
  padding: 120px 0;
}
.brands-board{
  background: #e75239;
  padding: 70px 0;
  -webkit-box-shadow: 5px 10px 40px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 10px 40px 5px rgba(0,0,0,0.4);
  box-shadow: 5px 10px 40px 5px rgba(0,0,0,0.4);
}
.brands-list{
  display: inline-block;
  width: 100%;
}
.brands-list li{
  float: left;
  margin-bottom: 100px;
}
.brands-list li:nth-child(7),
.brands-list li:nth-child(8),
.brands-list li:last-child{
  margin-bottom: 0px;
}
.brands-icon{
  max-width: 160px;
  margin: 0 auto 15px;
  height: 123px;
  display: flex;
  align-items: flex-end;
}
.brands-name{
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.brands-name p{
  line-height: 1.2;
}
.brands-name span{
  display: block;
  font-size: 14px;
  font-weight: 400;
}
.brands-icon.strategy,
.brands-icon.develop{
  width: 145px;
}
.brands-icon.seo{
  width: 77px;
}
.brands-icon.optimization{
  width: 66px;
}
.brands-icon.planning{
  width: 91px;
}
.brands-icon.leads{
  width: 110px;
}
.brands-icon.email,
.brands-icon.mobile{
  width: 132px;
}
/* ============== SVG ============== */

/* ============== MEDIA ============== */
/* -------- 1200 * 991 * 768 * 575  -------- */
@media (max-width:1100px){
  .menu li{
    margin: 0 10px;
  }
}